;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/"]

 :deps         true

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn gespensterfelder/init}}
   :devtools {:http-root "public"
              :http-port 8080}}}}
